@import "./../../styles/mixins";

.country {
    @include flex(row, center);
    align-items: flex-start;
    gap: 3rem;
    flex-wrap: wrap;

    & > * {
        flex: 1 1 40rem;
    }

    &__sub {
        padding: 0.8rem 0.9rem;
        max-width: 30rem;
        margin-bottom: 3rem;

        & > * {
            margin-bottom: 1.5rem;
        }
    }

    &__flag {
        width: 100%;

        img {
            max-width: 100%;
        }
    }

    &__name,
    &__region {
        text-align: center;
    }

    &__region {
        font-size: 1.7rem;
        margin-top: -0.8rem;
        color: var(--gray);
        font-weight: bold;
    }

    &__density {
        @include flex(row, center);
    }

    &__population,
    &__area {
        text-align: center;
        @include flex(column, center);

        span {
            &:first-child {
                letter-spacing: 0.1rem;
            }

            &:nth-child(2) {
                color: var(--gray);
                font-weight: bold;
            }
        }
    }

    &__population {
        margin-right: 3rem;
    }

    &__main {
        flex: 1 1 40rem;
        padding: 0;
        padding-top: 0.4rem;

        h3 {
            font-size: 1.9rem;
            margin-bottom: 0.6rem;
            padding-left: 0.9rem;
            padding-right: 0.9rem;
        }

        & > * {
            @include flex(row, space-between);
            border-bottom: 0.1rem solid var(--bgColor);
            padding: 1rem 0.9rem 1.2rem;

            &:last-child {
                border-bottom: none;
            }
        }
    }

    &__borders {
        // remove flex display and borders
        display: block;

        padding: 0 0.9rem;
        margin-top: 1rem;

        h4 {
            margin-bottom: 1rem;
        }

        & > div {
            @include flex(row, center);

            & > * {
                flex: 1 1 7rem;
                max-width: 7rem;
                margin: 1.5rem 1.4rem;
            }
        }

        &-link {
            color: var(--secondary-color-2);

            &:hover {
                color: var(--secondary-color);
            }
        }
    }
}
